body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #33eae7;
    color: #333;
}



main {
    padding: 20px;
}



img {
    max-width: 1000px;
    height: auto;
}